body{
    background-color: #adced1;padding: 20px;
}
h1{
    text-align: center;font-size: 50px;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    text-decoration: underline;
}
p{
    text-align: center;font-size: 25px;
}
nav{
    text-align: center;
}
nav a{
    margin: 0 18px;
     padding: 5px;font-weight: bold;
     color:cadetblue;
    border-radius: 10px;text-decoration: none;
    font-size: 20px;
}
nav a:hover{
    background-color: cadetblue;
    background-color: red;color :white
}
section{
    background-color: rgb(255, 255, 255);width: 800px;
    margin: 30px auto;border-radius: 10px;
    padding: 10px auto;
    
}
hr{
    margin: 30px auto;width: 800px; `
    +++
    +
}
figure{
    text-align: center;
}
figure img{
    border-radius: 50%;
}
figcaption{
    font-size: 25px;
}
section h2{
    border-bottom: rgb(7, 7, 181) solid;padding-bottom: 10px;
}
article{
    background-color: #147c86;
    padding: 20px;
    box-shadow: 0 3px 12px blue;
    border-left:  4px solid skyblue;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: transform:all 0.5 ease;
}
article:hover{
    transform: translatex(-10px);

}
h3{
    font-size: 40px;
}
details{
    margin-top: 5px;
}
summary{
    font-size:30px;
    font-weight: bold;
}
a{
    text-decoration: none;
}
li{
    background-color:pink;
    border-radius: 30px;
    padding:10px;
    margin:20px ;
    text-align:left;
    font-size:20px;
}
ul{
    list-style-type:none
}
form{
    text-align: center;
}
input,textarea{
    width: 90%; margin:8px;
}
button{
    background-color:aquamarine; color: white; padding: 10px;
    margin-left: 25px;border-radius: 6px;
}
button:hover{
    background-color:aquamarine;color: white;
}
article:hover{
    transform:translateY(10px) ;
}

